# Project exclude paths
/spring-boot/target/
/spring-boot-actuator/target/
/spring-boot-actuator-autoconfigure/target/
/spring-boot-autoconfigure/target/
/spring-boot-cli/target/
/spring-boot-dependencies/target/
/spring-boot-devtools/target/
/spring-boot-docs/target/
/spring-boot-lxr-test/target/
/spring-boot-properties-migrator/target/
/spring-boot-starters/spring-boot-starter/target/
/spring-boot-starters/spring-boot-starter-activemq/target/
/spring-boot-starters/spring-boot-starter-actuator/target/
/spring-boot-starters/spring-boot-starter-amqp/target/
/spring-boot-starters/spring-boot-starter-aop/target/
/spring-boot-starters/spring-boot-starter-artemis/target/
/spring-boot-starters/spring-boot-starter-batch/target/
/spring-boot-starters/spring-boot-starter-cache/target/
/spring-boot-starters/spring-boot-starter-cloud-connectors/target/
/spring-boot-starters/spring-boot-starter-data-cassandra/target/
/spring-boot-starters/spring-boot-starter-data-cassandra-reactive/target/
/spring-boot-starters/spring-boot-starter-data-couchbase/target/
/spring-boot-starters/spring-boot-starter-data-couchbase-reactive/target/
/spring-boot-starters/spring-boot-starter-data-elasticsearch/target/
/spring-boot-starters/spring-boot-starter-data-jdbc/target/
/spring-boot-starters/spring-boot-starter-data-jpa/target/
/spring-boot-starters/spring-boot-starter-data-ldap/target/
/spring-boot-starters/spring-boot-starter-data-mongodb/target/
/spring-boot-starters/spring-boot-starter-data-mongodb-reactive/target/
/spring-boot-starters/spring-boot-starter-data-neo4j/target/
/spring-boot-starters/spring-boot-starter-data-redis/target/
/spring-boot-starters/spring-boot-starter-data-redis-reactive/target/
/spring-boot-starters/spring-boot-starter-data-rest/target/
/spring-boot-starters/spring-boot-starter-data-solr/target/
/spring-boot-starters/spring-boot-starter-freemarker/target/
/spring-boot-starters/spring-boot-starter-groovy-templates/target/
/spring-boot-starters/spring-boot-starter-hateoas/target/
/spring-boot-starters/spring-boot-starter-integration/target/
/spring-boot-starters/spring-boot-starter-jdbc/target/
/spring-boot-starters/spring-boot-starter-jersey/target/
/spring-boot-starters/spring-boot-starter-jetty/target/
/spring-boot-starters/spring-boot-starter-jooq/target/
/spring-boot-starters/spring-boot-starter-json/target/
/spring-boot-starters/spring-boot-starter-jta-atomikos/target/
/spring-boot-starters/spring-boot-starter-jta-bitronix/target/
/spring-boot-starters/spring-boot-starter-log4j2/target/
/spring-boot-starters/spring-boot-starter-logging/target/
/spring-boot-starters/spring-boot-starter-mail/target/
/spring-boot-starters/spring-boot-starter-mustache/target/
/spring-boot-starters/spring-boot-starter-oauth2-client/target/
/spring-boot-starters/spring-boot-starter-oauth2-resource-server/target/
/spring-boot-starters/spring-boot-starter-parent/target/
/spring-boot-starters/spring-boot-starter-quartz/target/
/spring-boot-starters/spring-boot-starter-reactor-netty/target/
/spring-boot-starters/spring-boot-starter-rsocket/target/
/spring-boot-starters/spring-boot-starter-security/target/
/spring-boot-starters/spring-boot-starter-test/target/
/spring-boot-starters/spring-boot-starter-thymeleaf/target/
/spring-boot-starters/spring-boot-starter-tomcat/target/
/spring-boot-starters/spring-boot-starter-undertow/target/
/spring-boot-starters/spring-boot-starter-validation/target/
/spring-boot-starters/spring-boot-starter-web/target/
/spring-boot-starters/spring-boot-starter-web-services/target/
/spring-boot-starters/spring-boot-starter-webflux/target/
/spring-boot-starters/spring-boot-starter-websocket/target/
/spring-boot-starters/target/
/spring-boot-test/target/
/spring-boot-test-autoconfigure/target/
/spring-boot-tools/spring-boot-antlib/target/
/spring-boot-tools/spring-boot-autoconfigure-processor/target/
/spring-boot-tools/spring-boot-configuration-docs/target/
/spring-boot-tools/spring-boot-configuration-metadata/target/
/spring-boot-tools/spring-boot-configuration-processor/target/
/spring-boot-tools/spring-boot-gradle-plugin/target/
/spring-boot-tools/spring-boot-loader/target/
/spring-boot-tools/spring-boot-loader-tools/target/
/spring-boot-tools/spring-boot-maven-plugin/target/
/spring-boot-tools/spring-boot-test-support/target/
/target/